<div class="container">
  <header>
    <i class="fa fa-angle-left fa-2x"></i>
    <h5>
      Activity
    </h5>
    <span class="fa fa-align-justify fa-2x"></span>
  </header>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let activity of recentActivities">
      <div class="row">
      <div class="col-xs-6 avator">
        <img [src]="activity.authorAvatar" [alt]="activity.author" class="img-responsive rounded-circle">
      </div>
      <div class="col-xs-6 info">
        <p>{{activity.author}} <span class="text-muted">{{ activity.nodeTypeString}}</span></p>
        <p>{{activity.title}}</p>
        <p>{{activity.postDate | date}}</p>
      </div>
    </div>
    </li>
  </ul>
</div>
